.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px;
    background-color: #f5f9ff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #10254e;
  }
  
  .logo img {
    width: 30px;
    height: 30px;
  }
  
  .nav {
    display: flex;
    gap: 30px;
  }
  
  .nav a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav a:hover {
    color: #0077b6;
  }
  
  .auth-buttons {
    display: flex;
    gap: 15px;
  }
  
  .sign-in {
    background: none;
    border: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    cursor: pointer;
  }
  
  .login {
    background-color: #064670;
    border: none;
    padding: 10px 22px;
    border-radius: 999px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login:hover {
    background-color: #064670;
  }
  